[project]
	description = A shell script which turns your macOS laptop into an awesome web development machine.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Damian Esteban (damianesteban)
[access "refs/for/refs/*"]
	read = group user/Damian Esteban (damianesteban)
	push = group user/Damian Esteban (damianesteban)
	label-Code-Review = -2..+2 group user/Damian Esteban (damianesteban)
	label-Verified = -1..+1 group user/Damian Esteban (damianesteban)
	rebase = group user/Damian Esteban (damianesteban)
	removeReviewer = group user/Damian Esteban (damianesteban)
	submit = group user/Damian Esteban (damianesteban)
[access "refs/heads/*"]
	read = group user/Damian Esteban (damianesteban)
	create = group user/Damian Esteban (damianesteban)
	push = +force group user/Damian Esteban (damianesteban)
	pushMerge = group user/Damian Esteban (damianesteban)
[access "refs/tags/*"]
	push = group user/Damian Esteban (damianesteban)
	push = +force group user/Damian Esteban (damianesteban)
